.button{
    border:none;
    outline:none;
    padding-inline:1.5rem;
    padding-block: 0.75;
    border-radius: 1rem;
    cursor: pointer;
    min-width: 100%;
    min-height: 4.5vh;

    transition: all 0.3 ease-in-out;

    &.primary-button{
        background-color: rgb(64, 204, 45);
        color:white
    }
    &.active{
        transform: scale(1.1);
    }
}